<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Sebastian.ClubCervezero">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_beer"
        android:label="Borrachos"
        android:roundIcon="@drawable/ic_beer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.Sebastian.ClubCervezero.view.PictureDetailActivity"></activity>
        <activity android:name="com.Sebastian.ClubCervezero.view.ContainerActivity" />
        <activity
            android:name="com.Sebastian.ClubCervezero.view.CreateAccountActivity"
            android:parentActivityName="com.Sebastian.ClubCervezero.LoginActivity"
            android:screenOrientation="sensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.Sebastian.ClubCervezero.LoginActivity" />
        </activity>
        <activity android:name="com.Sebastian.ClubCervezero.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>